// body {
//   // background-color: theme-color("backgroundColor");
//   background-color: beige;
// }
// .about__body {
//   display: flex;
//   flex-direction: column;
// }
.my-top-100px {
  margin-top: 100px;
}
.w-360px {
  width: 360px;
}
.mx-60px {
  margin: 0 60px;
}
.h-610px {
  height: 610px;
}
.h-280px {
  height: 280px;
}
.my-top-10px {
  margin: 10px 0 0;
}
.my-10px {
  margin: 10px 0;
}
.py_bottom-10px {
  padding-bottom: 10px;
}
.rounded-t-8px {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.p-bottom-0-12 {
  padding: 12px 12px 0 12px;
}
// --------------------------------------------------------------------------------------------------------------------
// container--about
// container--about__item

//------------------------------------------------------------------------------------------------------------------------
.container--about {
  //my-top-100px flex flex-wrap w-full justify-around
  .container--about__item {
    //w-360px mx-60px h-610px bg-gray-400
    //para pc
    .container--about__item__top {
      //h-280px rounded-t-8px bg-gray-400 p-bottom-0-12
      // height: 280px;
      // border-top-left-radius: $about-border-radius;
      // border-top-right-radius: $about-border-radius;
      // background-color: theme-color("textColor");
      // padding: 12px 12px 0 12px;
      h2 {
        //my-top-10px
        margin: 10px 0 0;
      }
      img {
        //my-10px
        margin: 10px 0;
      }
      h5 {
        //m-0 py_bottom-10px
        margin: 0px;
        padding-bottom: 10px;
      }
      // border: 2px solid blue;
    }
    .container--about__item__middle {
      // border: 2px solid green;
      background-color: theme-color("textColor");
      padding: 5 12px 12px 12px;
      height: 180px;
      p {
        margin: 0 10px;
      }
    }
    .container--about__item__bottom {
      // border: 2px solid yellow;
      background-color: theme-color("textColor");
      padding: 1vh;
      border-top: $homepage-border-dotted-thick dotted beige;
      position: relative;
      border-bottom-left-radius: $homepage-border-radius;
      border-bottom-right-radius: $homepage-border-radius;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // margin: 0px 90px 180px 90px;
    }
  }
  .about__btn {
    // height: 10vh;
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid theme-color("third");
    background-color: theme-color("third");
    color: theme-color("secondary");
    border-radius: 3vh;
    font-size: 1.5em;
    // padding: 0 15px;
  }
}
@media (max-width: 955px) {
  div.container--about div.container--about__item {
    margin: 0;
    height: 510px;
  }
}
