// a:link {
//   text-decoration: none;
//   // no-underline
// }
// a:hover {
//   color: theme-color("secondary");
//   // hover:bg-secondary
// }
// ------------------------------------------------------------------------------

.myNavbar__item {
  // border-dotted-left-15px border-orange-100 my-5px mx-0 relative bg-gray-500 flex items-stretch text-gray-100 vw-25

  .myNavbar__item__title {
    //border-2 border-third border-solid flex justify-center items-center w-full m-15px relative rounded-10px

    .myNavbar__item__title__title {
      //my-top-15px
    }
    .myNavbar__item__title__logo {
      //absolute pos-top-25 bg-gray-500 px-10px border-solid border-2 border-red-700 rounded-10px
      // position: absolute;
      // top: -25%;
      // background-color: gray;
      // padding: 0 10px;
      // border: 2px solid brown;
      // border-radius: 10px;
    }
  }
}
.myNavbar__item--selected:hover {
  //origin-top-left rotate-10 mx-right-5px z-10
  // transform-origin: 0 0;
  // transform: rotate(10deg);
  // margin-right: 5px;
  // z-index: 10;
  // transition: transform 1s, margin-right 2s, z-index 3s;
}
.myNavbar__item.myNavbar__item--active {
  .myNavbar__item__title {
    .myNavbar__item__title__title {
    }
    .myNavbar__item__title__logo {
    }
  }
}
.myNavbar__item__round {
  //z-10 bg-orange-100 w-40px h-40px absolute pos-left-2375px rounded-50percent
}
.myNavbar__item__round--top {
  //pos-top-25px
  // top: $homepage-radius-ticket-break * (-1) - $homepage-navbar-margin-top;
}
.myNavbar__item__round--bottom {
  //pos-bottom-25px
  // bottom: $homepage-radius-ticket-break * (-1) - $homepage-navbar-margin-top;
}

.myNavbar {
  //flex w-full justify-center my-bottom-20
  .myNavbar__container {
    //flex
    // display: flex;
  }
  // .myNavbar__item {
  // }

  //esto tiene que ir al final
  .myNavbar__item--raw {
    //border-none min-w-5percent max-w-10px
    // border: none;
    // min-width: 5%;
    // max-width: 10px;
  }
}

@media (max-width: 480px) {
  .sm\:w-30percent {
    width: 30%;
  }
  .sm\:max-w-50px {
    max-width: 50px;
  }
  .sm\:min-h-50px {
    min-height: 50px;
  }
  .sm\:p-top-11px {
    padding-top: 11px;
  }
  .sm\:rounded-5px {
    border-radius: 5px;
  }
  .myNavbar {
    // sm:justify-start
    .myNavbar__container {
      // sm:flex-col sm:w-full sm:hidden
    }
    .myNavbar__item--raw {
      //sm:w-30percent sm:max-w-50px sm:min-h-50px sm:flex sm:justify-center sm:p-top-11px sm:rounded-5px
      // width: 30%;
      // max-width: 50px;
      // min-height: 50px;
      // display: flex;
      // justify-content: center;
      // padding-top: 11px;
      // border-radius: 5px;
      // .fa-caret-square-down {
      //   display: block;
      // }
    }
  }
}
.fa-caret-square-up {
  // display: none;
}
.fa-caret-square-down {
  // display: none;
}
