// a:link {
//   text-decoration: none;
//   // no-underline
// }
// a:hover {
//   color: theme-color("secondary");
//   // hover:bg-secondary
// }
// ------------------------------------------------------------------------------
.m-15px {
  margin: 15px;
}
.rounded-10px {
  border-radius: 10px;
}
.border-dotted-left-15px {
  border-left: 15px dotted;
}
.my-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.vw-25 {
  min-width: 25vw;
}
.my-top-15px {
  margin-top: 15px;
}
.pos-top-25 {
  top: -25%;
}
.myNavbar__item {
  // border-dotted-left-15px border-orange-100 my-5px mx-0 relative bg-gray-500 flex items-stretch text-gray-100 vw-25

  .myNavbar__item__title {
    //border-2 border-third border-solid flex justify-center items-center w-full m-15px relative rounded-10px

    .myNavbar__item__title__title {
      //my-top-15px
    }
    .myNavbar__item__title__logo {
      //absolute pos-top-25 bg-gray-500 px-10px border-solid border-2 border-red-700 rounded-10px
      // position: absolute;
      // top: -25%;
      // background-color: gray;
      // padding: 0 10px;
      // border: 2px solid brown;
      // border-radius: 10px;
    }
  }
}
.myNavbar__item--selected:hover {
  transform-origin: 0 0;
  transform: rotate(10deg);
  margin-right: 5px;
  z-index: 10;
  transition: transform 1s, margin-right 2s, z-index 3s;
}
.myNavbar__item.myNavbar__item--active {
  .myNavbar__item__title {
    .myNavbar__item__title__title {
    }
    .myNavbar__item__title__logo {
    }
  }
}
.myNavbar__item__round {
  z-index: 10;
  background-color: beige;
  width: $homepage-radius-ticket-break * 2;
  height: $homepage-radius-ticket-break * 2;
  position: absolute;
  left: $homepage-radius-ticket-break * (-1)-3.75px;
  border-radius: 50%;
}
.myNavbar__item__round--top {
  top: $homepage-radius-ticket-break * (-1) - $homepage-navbar-margin-top;
}
.myNavbar__item__round--bottom {
  bottom: $homepage-radius-ticket-break * (-1) - $homepage-navbar-margin-top;
}

.myNavbar {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: $about-radius-ticket-break;
  .myNavbar__container {
    display: flex;
  }
  // .myNavbar__item {
  // }

  //esto tiene que ir al final
  .myNavbar__item--raw {
    border: none;
    min-width: 5%;
    max-width: 10px;
  }
}

@media (max-width: 480px) {
  .myNavbar {
    justify-content: flex-start;
    .myNavbar__container {
      flex-direction: column;
      width: 100%;
      display: none;
    }
    .myNavbar__item--raw {
      width: 30%;
      max-width: 50px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      padding-top: 11px;
      border-radius: 5px;
      .fa-caret-square-up {
        display: none;
      }
    }
  }
}
@media (min-width: 481px) {
  .fa-caret-square-up {
    display: none;
  }
  .fa-caret-square-down {
    display: none;
  }
}
