@tailwind base;

@tailwind components;
.myNavbar__item--selected {
  &:hover {
    // @apply origin-top-left rotate-10 mx-right-5px z-10
    @apply mx-right-5px rotate-10 z-10;

    //origin-top-left me daba error
    transform-origin: top left;
    transition: transform 1s, margin-right 2s, z-index 3s;
  }
}
.grayImg {
  @apply w-full;
  filter: grayscale(100%);
}

// .nav {
//   @apply flex flex-row text-pink-200 bg-orange-200;
// }
// // .nav_item {
//   @apply w-1/3 justify-center border-2 border-pink-700 border-2 p-5 bg-pink-400 rounded;
// }
// //----------------------------------------------------------------------------

// .cardFlip {
//   @apply h-auto border-2 border-black bg-gray-300 m-12 widht-30per;
//   min-width: 360px;
//   &:hover .cardFlip__box {
//     @apply turnCard;
//   }
// }
// .cardFlip__box {
//   transform-style: preserve-3d;
//   transition: all 0.5s linear;
// }
// .cardFlip--face {
//   @apply distorted absolute hideBackFace w-full;
// }
// .cardFlip--back {
//   @apply bg-gray-200 overflow-scroll overflow-x-hidden w-full relative sameHeightCards;
//   div {
//     @apply absolute w-full h-full p-3;
//   }
// }

// .cardFlip--face.cardFlip--back {
//   @apply turnDistortedCard;
// }
// .btn--cardflip {
//   @apply border-2 border-solid border-black flex items-center flex-col justify-center;
// }
// .coverImage--polaroid {
//   @apply border border-solid border-gray-400 max-w-full p-2 pb-4 bg-white shadow-md distorted;
// }
// //-------------------------------------------------------------------------
// @media (min-width: 768px) {
//   .nav {
//     @apply order-2 flex flex-grow textRotate-90;
//   }

//   .nav_item {
//     @apply w-2/3 height-1/3;
//     &:hover {
//       @apply w-full;
//     }
//   }
//   .nav_item_act {
//     @apply bg-blue-500;
//     &:hover {
//       @apply w-2/3;
//     }
//   }
// }

@tailwind utilities;

//adding new utilities

//utilidades de about
// .textRotate-90 {
//   writing-mode: vertical-rl;
// }
.my-top-100px {
  margin-top: 100px;
}
.w-360px {
  width: 360px;
}
.w-300px {
  width: 300px;
}
.w-40px {
  width: 40px;
}
.h-40px {
  height: 40px;
}
.mx-60px {
  margin: 0 60px;
}
.h-750px {
  height: 750px;
}
.h-610px {
  height: 610px;
}
.h-280px {
  height: 280px;
}
.h-180px {
  height: 180px;
}
.h-60px {
  height: 60px;
}
.my-top-10px {
  margin: 10px 0 0;
}
.my-10px {
  margin: 10px 0;
}
.mx-10px {
  margin: 0 10px;
}
.px-10px {
  padding: 0 10px;
}
.py_bottom-10px {
  padding-bottom: 10px;
}
.rounded-t-8px {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.rounded-10px {
  border-radius: 10px;
}
.p-bottom-0-12 {
  padding: 12px 12px 0 12px;
}
.p-top-5-12 {
  padding: 5 12px 12px 12px;
}
.p-1vh {
  padding: 1vh;
}
.border-t-15 {
  border-top-width: 15px;
}
.rounded-b-8px {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.m-15px {
  margin: 15px;
}
.mx-right-5px {
  margin-right: 5px;
}
.rounded-10px {
  border-radius: 10px;
}
.border-dotted-left-15px {
  border-left: 15px dotted;
}
.my-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.vw-25 {
  min-width: 25vw;
}
.my-top-15px {
  margin-top: 15px;
}
.pos-top-25 {
  top: -25%;
}
.pos-left-2375px {
  left: 23.75px;
}
.pos-top-25px {
  top: -25px;
}
.pos-bottom-25px {
  bottom: -25px;
}
.rounded-50percent {
  border-radius: 50%;
}
.my-bottom-20 {
  margin-bottom: 20px;
}
.min-w-5percent {
  min-width: 5%;
}
.max-w-10px {
  max-width: 10px;
}
.w-30percent {
  width: 30%;
}
.max-w-50px {
  max-width: 50px;
}
.min-h-50px {
  min-height: 50px;
}
.p-top-11px {
  padding-top: 11px;
}
.rounded-5px {
  border-radius: 5px;
}
.rotate-10 {
  transform: rotate(10deg);
}

//https://tailwindcss-custom-forms.netlify.com/
//https://github.com/tailwindcss/custom-forms
