@tailwind base;

@tailwind components;
.myNavbar__item--selected {
  &:hover {
    // @apply origin-top-left rotate-10 mx-right-5px z-10
    @apply mx-right-5px rotate-10 z-10;

    //origin-top-left me daba error
    transform-origin: top left;
    transition: transform 1s, margin-right 2s, z-index 3s;
  }
}
.grayImg {
  @apply w-full;
  filter: grayscale(100%);
}
.firstBigLetter-w-300px {
  @apply w-300px m-0 p-0;
  &::first-letter {
    @apply tracking-widest text-3xl;
  }
}

@tailwind utilities;

//adding new utilities

//utilidades de about
// .textRotate-90 {
//   writing-mode: vertical-rl;
// }
.my-top-100px {
  margin-top: 100px;
}
.w-360px {
  width: 360px;
}
.w-300px {
  width: 300px;
}
.w-40px {
  width: 40px;
}
.h-40px {
  height: 40px;
}
.mx-60px {
  margin: 0 60px;
}
.h-750px {
  height: 750px;
}
.h-610px {
  height: 610px;
}
.h-280px {
  height: 280px;
}
.h-180px {
  height: 180px;
}
.h-60px {
  height: 60px;
}
.my-top-10px {
  margin: 10px 0 0;
}
.my-10px {
  margin: 10px 0;
}
.mx-10px {
  margin: 0 10px;
}
.px-10px {
  padding: 0 10px;
}
.py_bottom-10px {
  padding-bottom: 10px;
}
.rounded-t-8px {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.rounded-10px {
  border-radius: 10px;
}
.p-bottom-0-12 {
  padding: 12px 12px 0 12px;
}
.p-top-5-12 {
  padding: 5 12px 12px 12px;
}
.p-1vh {
  padding: 1vh;
}
.border-t-15 {
  border-top-width: 15px;
}
.rounded-b-8px {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.m-15px {
  margin: 15px;
}
.mx-right-5px {
  margin-right: 5px;
}
.rounded-10px {
  border-radius: 10px;
}
.border-dotted-left-15px {
  border-left: 15px dotted;
}
.my-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.vw-25 {
  min-width: 25vw;
}
.my-top-15px {
  margin-top: 15px;
}
.pos-top-25 {
  top: -25%;
}
.pos-left-2375px {
  left: 23.75px;
}
.pos-top-25px {
  top: -25px;
}
.pos-bottom-25px {
  bottom: -25px;
}
.rounded-50percent {
  border-radius: 50%;
}
.my-bottom-20 {
  margin-bottom: 20px;
}
.min-w-5percent {
  min-width: 5%;
}
.max-w-10px {
  max-width: 10px;
}
.w-30percent {
  width: 30%;
}
.max-w-50px {
  max-width: 50px;
}
.min-h-50px {
  min-height: 50px;
}
.p-top-11px {
  padding-top: 11px;
}
.rounded-5px {
  border-radius: 5px;
}
.rotate-10 {
  transform: rotate(10deg);
}

@media (max-width: 480px) {
  .sm\:w-30percent {
    width: 30%;
  }
  .sm\:max-w-50px {
    max-width: 50px;
  }
  .sm\:min-h-50px {
    min-height: 50px;
  }
  .sm\:p-top-11px {
    padding-top: 11px;
  }
  .sm\:rounded-5px {
    border-radius: 5px;
  }
}
@media (max-width: 975px) {
  .lg\:h-1200px {
    height: 1200px;
  }
  .lg\:p-x-15 {
    margin: 0 15px;
  }
  .lg\:w-700px {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .md\:w-screen-80 {
    width: 80vw;
  }
  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }
}

//https://tailwindcss-custom-forms.netlify.com/
//https://github.com/tailwindcss/custom-forms
