$theme-colors: (
  "primary": gray,
  "secondary": whitesmoke,
  "third": brown,
  "textTitle": #525252,
  "textColor": #a2aeae,
  "backgroundColor": beige,
  "success": rgb(64, 105, 64),
);

$homepage-border-radius: 8px;
$homepage-radius-ticket-break: 20px;
$homepage-navbar-margin-top: 5px;
$homepage-border-dotted-thick: 15px;

$about-border-radius: 8px;
$about-radius-ticket-break: 20px;
$about-navbar-margin-top: 5px;
$about-border-dotted-thick: 15px;
